*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homeIcon{
    height: 25px;
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}
.header{
    width: 100%;
    height: 40px;
    background-color:rgba(0, 169, 165, 0.7);
    position: fixed;
    top: 0;
    z-index:24
}
.searchBar{
    border-radius: 25px;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}
.searchIcon{
    float: left;
    margin-left: -160px;
    margin-top: 15px;
    height: 15px;   
}
.navBar{
    list-style: none;
    float: right;
    margin-right: 20px;   
}
.navBar li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 15px;
    position: relative; 
}

.navBar li a {
    text-decoration: none;
    color: #0b5351;
    position: relative; 
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar li a::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #0b5351; 
    transition: width 0.3s ease-in-out;
}

.navBar li a:hover {
    color: #FFFFFF;
}

.navBar li a:hover::after {
    width: 100%;
    background-color: #FFFFFF; 
}
/*//////////////////////////////////////////////////////////////*/
.section1-container{
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/section1Container.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top:40px
}
.section1-overlay{
    position: absolute; 
    z-index: 2;
    width: 100%;
    height: 100%; 
    background-color: rgba(11,83 , 81, 0.6); 
}
.section1-content{
    width: 60%;
    height: 45%;
    /*hero image*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
margin-bottom: 5px;
font-size: 50px;
color: #FFFFFF;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section1-content p{
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.section1-button{
    padding: 10px 17px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section1-button:hover{
    transition: 0.3s ease-in-out;
    opacity: 0.5;
}
.bluebtn{
    background-color: #0b5351;
    color: #FFFFFF;
}
/*//////////////////////////////////////////////////////////////*/
.section2-container{
    width: 100%;
    height: 100vh;
    margin-top: 90px;
}
.section2-content{
    text-align: center;
    padding: 8px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    color: #0b5351;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section2-hr{
    border: 2px solid rgb(0, 169, 165);
    width: 10%;
    margin: 10px auto;
}
.section2-card{
    width:29%;
    height: 30%;
    border:1px solid rgb(11,83 , 81); 
    border-radius: 3px;
    margin-left: 3%;
    margin-top:30px;
    float: left;
    padding: 8px;
    color: #0b5351;
    font-weight: bold;
}
.section2-card img{
    margin-bottom: 10px;
}
.section2-card h3{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-bottom: 10px;
}
.section2-card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(11, 83, 81, 0.6);
    font-size: 15px;
    margin-bottom: 10px;
}
.section2-card a{
    text-decoration: none;
    color: #00c0ba;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section2-card a:hover{
    color: #0b5351;
    text-decoration: underline;
}
/*//////////////////////////////////////////////////////////////*/
.featured-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 169, 165, 0.3);
    text-align: center;
    padding-top: 40px;
}
.featured-parent{
    width:80%;
    height: 80%;
    overflow: auto;
    margin: 0 auto;
}
.featured-card{
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width:30%;
    position: relative;
    padding: 8px;
}
.featured-content{
    width: 100%;
    padding: 8px;
    margin-bottom:150px;
    
}
.c2{
    margin-left:5%;
    margin-right:5%;
}
.featured-overlay{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; 
    background-color: rgba(11, 83, 81, 0.5);
        
}
.featured-card:hover .featured-overlay{
    opacity: 0.7;
    transition: 0.1s ease-in-out;
}
h4{
    font-size: 30px;
}
.overlay-hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
.overlay-hero p{
    color: rgba(220, 220, 220, 0.8);
}
.overlay-hero a i{
    color: white; 
}
/*//////////////////////////////////////////////////////////////*/
.section3-container{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 40px;
}
.section3-parent1{
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
}
.section3-card{
    width: 30%;
    height: 180px;
    float: left;
    padding: 19px;
    border:1px solid rgb(11,83 , 81);
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;
}
.section3-card i{
    float: left;
    position: absolute;
    left: 20;
    font-size: 30px;
    top:20;
    color: #0b5351;

}
.section3-card-content{
    width: 80%;
    height: 80%;
    margin-left: auto;
    text-align: left;
    padding-left: 8px;
}
.section3-card-content span{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0b5351;
}
.greyP{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    color: rgba(11, 83, 81, 0.6);
    font-size: 15px;
}
.section3-parent2{
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
}
.section3-chooseUs{
    width: 60%;
    float: left;
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px; 
    text-align: left;
    margin-right: auto;
    margin-top: -10px;
}
.section3-photoAndHoverables{
float: right;
width: 35%;
margin-left: 5%;
}
.photoDiv{
    width: 100%;
    height: 100%;
    background-image: url(../IMG/p7.jpeg); 
    background-size: cover;
    margin-bottom: 5px;
    position: relative;
    border-radius: 10px;
}
.hoverables{
    width: 30%;
    height: 30px;
    margin: auto;
}
.hoverables div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.hoverables div:hover{
    background-color: #00c0ba;
}
.hr3{
    margin-right: auto;
    margin-left: 0;
    width: 60%;
    margin-bottom: 30px;
}
.photoDivOverlay{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(11, 83, 81, 0.5);
    border-radius: 10px;    
}
.section3-chooseUs i{
    font-size: 25px;
    color: #0b5351;
    position: relative;
    left: 0;
    top: 5px;
    margin-right: 10px;    
}
