*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #092327;
    color: #0b5351;
    color: #00a9a5;
}
body{
    height: 4500px;
}
.homeIcon{
    height: 25px;
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}
.header{
    width: 100%;
    height: 40px;
    background-color:rgba(0, 169, 165, 0.7);
    position: fixed;
    top: 0;
    z-index:24px
}
.searchBar{
    border-radius: 25px;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}
.searchIcon{
    float: left;
    margin-left: -160px;
    margin-top: 15px;
    height: 15px;   
}