*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.homeIcon{
    height: 25px;
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}
.header{
    width: 100%;
    height: 40px;
    background-color:rgba(0, 169, 165, 0.7);
    position: fixed;
    top: 0;
    z-index:24
}
.searchBar{
    border-radius: 25px;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}
.searchIcon{
    float: left;
    margin-left: -160px;
    margin-top: 15px;
    height: 15px;   
}
.navBar{
    list-style: none;
    float: right;
    margin-right: 20px;   
}
.navBar li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 15px;
    position: relative; 
    padding: 0px 10px;
}
.navBar li a {
    text-decoration: none;
    color: #0b5351;
    position: relative; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navBar li a::after {
    content: '';
    position: absolute;
    bottom: -5; 
    left: 0;
    width: 0%;
    height: 2px;
    transition: 0.3s ease-in-out;
}
.navBar li a:hover {
    color: #FFFFFF;
}
.navBar li a:hover::after {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF; 
}
.blogHidden{
    width: 140px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 90px;
    border-radius: 5px;
    padding:0px 8px;
    text-align: left;
    visibility: hidden;
}
.blogHidden:hover{
    visibility: visible;
}
.blogHidden ul{
    list-style: none;
}
.blogHidden ul a{
    
    text-decoration: none;
    display: block;
    padding-top: 0px;
    padding-bottom: 15px;
    color: #0b5351;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blogHidden ul a li{
    font-size: 14px;
    width: 100%;
}
.blogHidden ul a:hover{
    color:#0b5351;
}

.blogHidden ul a:hover::after{
    content: '';
    position: absolute;
    bottom: 10; 
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0b5351; 
}
.blogA:hover .blogHidden{
    visibility: visible;
}
/*//////////////////////////////////////////////////////////////*/
.section1-container{
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/section1Container.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top:40px
}
.section1-overlay{
    position: absolute; 
    z-index: 2;
    width: 100%;
    height: 100%; 
    background-color: rgba(11,83 , 81, 0.6); 
}
.section1-content{
    width: 60%;
    height: 45%;
    /*hero image*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
margin-bottom: 5px;
font-size: 50px;
color: #FFFFFF;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section1-content p{
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.section1-button{
    padding: 10px 17px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section1-button:hover{
    transition: 0.3s ease-in-out;
    opacity: 0.5;
}
.bluebtn{
    background-color: #0b5351;
    color: #FFFFFF;
}
/*//////////////////////////////////////////////////////////////*/
.section2-container{
    width: 100%;
    height: 370px;
    margin-top: 90px;
}
.section2-content{
    text-align: center;
    padding: 8px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    color: #0b5351;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section2-hr{
    border: 2px solid rgb(0, 169, 165);
    width: 10%;
    margin: 10px auto;
}
.section2-card{
    width:29%;
    height: 150px;
    border:1px solid rgb(11,83 , 81); 
    border-radius: 3px;
    margin-left: 3%;
    margin-top:30px;
    float: left;
    padding: 8px;
    color: #0b5351;
    font-weight: bold;
    position: relative;
}
.section2-card::after{
    content: '';
    top:0;left:0;
    width: 0%;
    height: 0%;
    opacity: 1;
    background-color: #0b5351;

    position: absolute;
    z-index:-1 ;
}
.section2-card:hover::after{
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
    opacity: 0.5;
}
.section2-card:hover p{
    transition: 1s ease-in-out;
    color: #FFFFFF;
}
.section2-card:hover a{
    transition: 1s ease-in-out;
    
    color: rgba(11, 83, 81, 0.9);
}
.section2-card img{
    margin-bottom: 10px;
}
.section2-card h3{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-bottom: 10px;
}
.section2-card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.section2-card a{
    text-decoration: none;
    color: #00c0ba;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section2-card a:hover{
    color: #0b5351;
    text-decoration: underline;
}
/*//////////////////////////////////////////////////////////////*/
.featured-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 169, 165, 0.3);
    text-align: center;
    padding-top: 40px;
}
.featured-parent{
    width:80%;
    height: 80%;
    overflow: auto;
    margin: 0 auto;
}
.featured-card{
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width:30%;
    position: relative;
    padding: 8px;
}
.featured-content{
    width: 100%;
    padding: 8px;
    margin-bottom:150px;
    
}
.c2{
    margin-left:5%;
    margin-right:5%;
}
.featured-overlay{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; 
    background-color: rgba(11, 83, 81, 0.5);
        
}
.featured-card:hover .featured-overlay{
    opacity: 0.7;
    transition: 0.1s ease-in-out;
}
h4{
    font-size: 30px;
}
.overlay-hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
.overlay-hero p{
    color: rgba(220, 220, 220, 0.8);
}
.overlay-hero a i{
    color: white; 
}
/*//////////////////////////////////////////////////////////////*/
.section3-container{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 40px;
}
.section3-parent1{
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
}
.section3-card{
    width: 30%;
    height: 180px;
    float: left;
    padding: 19px;
    border:1px solid rgb(11,83 , 81);
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;
}
.section3-card::after{
    content: '';
    top:0;left:0;
    width: 0%;
    height: 0%;
    opacity: 1;
    background-color: #0b5351;

    position: absolute;
    z-index:-1 ;
}
.section3-card:hover::after{
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
    opacity: 0.5;
}
.section3-card:hover p,.section3-card:hover i{
    transition: 1s ease-in-out;
    color: #FFFFFF;
}
.section3-card i{
    float: left;
    position: absolute;
    left: 20;
    font-size: 30px;
    top:20;
    color: #0b5351;
}
.section3-card-content{
    width: 80%;
    height: 80%;
    margin-left: auto;
    text-align: left;
    padding-left: 8px;
}
.section3-card-content span{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0b5351;
}
.greyP{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    color: rgba(11, 83, 81, 0.6);
    font-size: 15px;
}
.section3-parent2{
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
}
.section3-chooseUs{
    width: 60%;
    float: left;
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px; 
    text-align: left;
    margin-right: auto;
    margin-top: -10px;
}
.section3-photoAndHoverables{
float: right;
width: 35%;
margin-left: 5%;
}
.photoDiv{
    width: 100%;
    height: 400px;
    background-image: url(../IMG/p7.jpeg); 
    background-size: cover;
    margin-bottom: 5px;
    margin-top: 40px;
    position: relative;
    border-radius: 10px;
}
.hoverables{
    width: 30%;
    height: 30px;
    margin: auto;
}
.hoverables div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.hoverables div:hover{
    background-color: #00c0ba;
}
.hr3{
    margin-right: auto;
    margin-left: 0;
    width: 60%;
    margin-bottom: 30px;
}
.photoDivOverlay{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(11, 83, 81, 0.5);
    border-radius: 10px;    
}
.section3-chooseUs i{
    font-size: 15px;
    color: #0b5351;
    position: relative;
    left: 10;
    top: 0px;
    margin-right: 10px;    
}
/*//////////////////////////////////////////////////////////////*/
.section4-container{
    width: 100%;
    height: 400px;
    background-image: url(../IMG/p8.jpeg); /* 8 is good */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 50%;
    position: relative;
}
.section4-parent{
    width: 80%;
    height: 100%;
    margin: auto;
}
.section4-parent-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}
.section4-card{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 20%;
    color: rgba(0, 169, 165, 0.7);
    font-size: 50px;
}
.section4-card p{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:white;
}
.c3{
    margin-left:5% ;
    margin-right: 10%;
}
.c4{
    margin-right:5%;
}
/*//////////////////////////////////////////////////////////////*/
.pricingContainer{
    width: 80%;
    margin: auto;
}
.pricingParent{
    padding-top: 50px;
    overflow: auto;
    width: 100%;
    height: 110vh;
    text-align: center;
}
.pricingCard{
    width: 30%;
    height: 350px;
    float: left;
    border:1px solid rgb(11,83 , 81);
    border-radius: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    position: relative;
}
.pricingCard::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(11, 83, 81, 0.8);
    opacity: 1;
    z-index: 0;
}
.pricingCard:hover::after{
    opacity: 0.5;
    height: 100%;
    transition: 1s ease-in-out;
}
.pricingCard:hover p{
    transition: 1s ease-in-out;
    color: black;
}
.pricingCard:hover .circlePrice{
    border: 2px solid #0b5351;
    transition: 0.1s ease-in-out;
}
.circlePrice{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border : 1px solid rgb(11,83 , 81);
    margin: 20px auto;
    padding: 25px 0;
    color: #0b5351;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.pricingCard h6{
    font-size: 25px;
    color: #0b5351;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pricingButton{
    padding: 5px 20px;
    width: 70%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0b5351;
    border: 1px solid #0b5351;
    margin-top: 20px;
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -70%);
}
/*//////////////////////////////////////////////////////////////*/
.section8-container{
    width: 100%;
    background-image: url(../IMG/p14.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-y: 35%;
    position: relative;
}
.section8-parent{
    margin: auto;
    width: 80%;
    height: 350px;
    overflow: auto;
}
.section8-content{
    float: left;
    width: 40%;
    height: 100px;
    margin: auto;
    margin-left: 100px;
    margin-top: 15%;
}
.section8-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}
.imgDiv{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 35%;
}
.section8-content h3{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    margin-left: 70px;
    color: white;
}
.section8-content p{
    margin-left: 70px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.section8-content span{
    color:thistle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
/*//////////////////////////////////////////////////////////////*/
.teamSectionContainer{
    width: 100%;
    margin: auto;
    background-color: rgba(0, 169, 165, 0.3);
    text-align: center;
    padding-top: 40px;
}
.teamSectionParent{
    height: 90vh;
    width: 80%;
    text-align: center;
    padding: 18px;
    margin: auto;
    overflow: auto;
}
.teamSectionCard{
    border-radius: 10px;
    float: left;
    width: 30%;
    height: 250px;
    background-color: rgba(240, 240, 240, 0.6);
    position: relative;
    transition: all 1s;
}
.imgBgDiv{
    position: relative;
    width: 80%;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 5%;
    border-radius: 10px;
}
.teamIcons a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-bottom: -4px;
    visibility: hidden;
}
.teamIcons{
    position: absolute;
    top: 0;
    right: 0;
}
h6{
    font-size: 20px;
    color: #0b5351;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}
.teamSectionCard::after{
    content: '';
    top: 0;bottom: 0;right: 0;left: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    border-radius:10px ;
}
.teamSectionCard:hover::after{
    background-color: rgba(11, 83, 81, 0.5);
    transition: 0.5s ease-in-out;
    height: 100%;
    z-index: 1;
}
.teamSectionCard:hover a{
    visibility: visible;
    transition: 1s ease-in-out;
    color: rgba(11, 83, 181, 0.9); 
    z-index: 10;  
}
.teamSectionCard:hover p{
    color: #FFFFFF;
    transition: 1s ease-in-out;
    z-index: 5;
    position: relative;
}